* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #310e68;
  background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
  background-repeat: no-repeat;
  font-family: "Graphik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --primary-background-color: #1f1f2f;
}

a {
  color: white;
}
